* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFCC;
    padding: 0.5rem;
}
main div{
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}
.container{
    max-width: 450px;
    margin: 0 auto;
}
h2{
    margin: 20px 0;
    font-size: 1.5rem;
}
p{
    margin: 1rem 0;
}
.grid{
    background-color: #FF99CC;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #333;
    display: grid;
    grid-template-rows: 3fr 1fr 4fr 1fr 3fr;
    grid-template-areas: 
    'a b b c'
    'd e e e'
    'd f f g'
    'd h h g'
    'd i j g'
    ;
}
h3{
    font-size: 2.1rem;
    text-align: center;
    font-weight: 500;
}
.mic{
    grid-area: a;
    background-color: #FFFFFF;
}
.newspaper{
    grid-area: b;
    background-color: #FFFFFF;
}
.news{
    grid-area: c;
    background-color: #FFFFFF;
}
.navigation{
    grid-area: d;
    writing-mode: sideways-lr;
    background-color: #FFFFFF;
    align-items: end;
    padding-top: 1.2rem;
}
.headline{
    grid-area: e;
}
.photo{
    grid-area: f;
}
.text{
    grid-area: g;
    justify-content: start;
    padding-top: 1.2rem;
}
.caption{
    grid-area: h;
}
.text2{
    grid-area: i;
}
.text3{
    grid-area: j;
}
footer{
    font-size: smaller;
    margin: 60px 0;
}

.caption > h3, .headline > h3{
    font-size: 1.3rem;
}